  <h3>NAFAVD</h3>
  <h4>Detalhes do Atendimento</h4>
  {{atendimento}}
  <form name="atendimentoForm">
    <input type="text" ng-model="atendimento.nome" name="nome" placeholder="Nome" ng-required="true"/>
    <input type="text" ng-model="atendimento.telefone" name="telefone" placeholder="Telefone"/>
    <input type="text" ng-model="atendimento.nascimento" name="nascimento" placeholder="Nascimento"/>[{{atendimento.nascimento | age:'DD/MM/YYYY'}}]
    <div>
      <h4>Questionário</h4>
      <select ng-model="atendimento.questionario.reencaminhamento" ng-options="reencaminhamento.descricao for reencaminhamento in questionario.reencaminhamento track by reencaminhamento.id">
        <option value="">Selecione um reencaminhamento</option>
      </select>
      <select ng-model="atendimento.questionario.situacao" ng-options="situacao.descricao for situacao in questionario.situacao track by situacao.id">
        <option value="">Selecione uma situação</option>
      </select>
      <select ng-model="atendimento.questionario.encerramento" ng-options="encerramento.descricao for encerramento in questionario.encerramento track by encerramento.id" ng-show="encerrado()">
        <option value="">Selecione um encerramento</option>
      </select>
      <select ng-model="atendimento.questionario.indicaria" ng-options="indicaria.descricao for indicaria in questionario.indicaria track by indicaria.id">
        <option value="">Selecione uma indicação</option>
      </select>
      <select ng-model="atendimento.questionario.relacionamento" ng-options="relacionamento.descricao for relacionamento in questionario.relacionamento track by relacionamento.id">
        <option value="">Selecione um relacionamento</option>
      </select>
    </div>
  </form>
