  <h3>{{config.title}}</h3>
  <button ng-click="novo()">Novo</button>
  <h4>Atentimentos</h4>
  <h6 ng-show="mural()">{{mensagem}}</h6>
  <table>
    <thead>
      <tr>
        <th>Nome</th>
        <th>Nascimento [Idade]</th>
        <th>Telefone</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="atendimento in atendimentos">
        <td><a ng-click="detalhes(atendimento._id)">{{atendimento.nome}}</a></td>
        <td>{{atendimento.nascimento | date:"dd/MM/yyyy"}} [{{atendimento.nascimento | age}}]</td>
        <td>{{atendimento.telefone | phone}}</td>
        <td><a ng-click="remover(atendimento)">remover</a></td>
      </tr>
    </tbody>
  </table>
