  <h3>NAFAVD</h3>
  <h4>Atentimentos</h4>
  <table>
    <thead>
      <tr>
        <th>Nome</th>
        <th>Nascimento [Idade]</th>
        <th>Telefone</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="atendimento in atendimentos">
        <td><a ng-click="detalhes(atendimento.id)">{{atendimento.nome}}</a></td>
        <td>{{atendimento.nascimento | date:"dd/MM/yyyy"}} [{{atendimento.nascimento | age}}]</td>
        <td>{{atendimento.telefone | phone}}</td>
      </tr>
    </tbody>
  </table>
